* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0px;
}

body {
    background-color: wheat;
}

html, .flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 75%;
    margin-top: 60px;
}

.white-back {
    background-color: white;
}

.head {
    font-family: 'Roboto', sans-serif;
}

.shop-header {
    font-size: 46px;
}

.para {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


.intro, .search-view, .stats-view {
    border: 1px solid black;
    width: 75%; 
    padding: 20px;
    margin: 30px 0px 40px 0px;
}

.products-container {
    margin-left: auto;
    margin-right: auto;
}

.power {
    font-style: italic;
}

button, .places {
    color:white;
    background-color:  #03a678;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 15px;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
}

button:hover {
    background-image: linear-gradient(90deg, #00AA55 0%, #7FFF00 49%, #1D781D 80%, #ADFF2F 100%);
    animation:slidebg 5s linear infinite;
    cursor: pointer;
}


.search-view {
    padding: 45px;
}

main {
    padding: 0px;
}

.map {
    margin-top: 50px;
}

.new-search {
    margin: 20px;
}

.hide {
    display: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

  .red {
      color: red;
  }

  .green {
      color: green;
  }


  /* Store view */

.shop-view h2,
.shop-view button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product {
    border: 2px solid black;
    padding: 10px;
}

.seperate {
    width: 100%;
    height: 3px;
    margin-top: 40px;
    background-color: black;
}

ul {
    width: 90%;
    flex-direction: column;
    padding: 0px;
}

li {
    display: block;
    list-style-type: none;
    margin: 30px;
    padding: 20px;
    background-color: white;
    border: 1px black solid;
}



/* Small screens such as iPhoneX, iPhone 5/SE, Galaxy S5 */

@media (max-width: 375px) {
    .map {
        width: 95%;
    }
    .products-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}


/* Tablet / Desktop */

@media (min-width: 768px) {
    body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Desktop */

@media (min-width: 1024px) {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
}


