* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0px;
}

.logo {
    width: 75%;
    margin-top: 60px;;
}

html, .flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head {
    font-family: 'Roboto', sans-serif;
}

.para {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


.intro, .search-view, .stats-view, .products-container {
    border: 1px solid black;
    width: 75%; 
    padding: 20px;
    margin: 30px 0px 40px 0px;
}

.power {
    font-style: italic;
}

button, .places, .categories {
    color:white;
    background-color:  #03a678;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 15px;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
}

button:hover {
    background-image: linear-gradient(90deg, #00AA55 0%, #7FFF00 49%, #1D781D 80%, #ADFF2F 100%);
    animation:slidebg 5s linear infinite;
    cursor: pointer;
}


.search-view {
    /* background-color: lightgray; */
    padding: 45px;
}

main {
    padding: 0px;
}

.map {
    margin-top: 50px;
}

.new-search {
    margin: 20px;
}

.hide {
    display: none;
}

/* Dropdown Button */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .red {
      color: red;
  }

  .green {
      color: green;
  }


  /* Store view */

  .product {
    border: 2px solid white;
    padding: 10px;
  }

  .seperate {
      width: 100%;
      height: 3px;
      margin-top: 40px;
      background-color: black;
  }

